@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&family=Slabo+27px&display=swap');

*{
  scroll-behavior: smooth;
}

body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  background-image: url(./icons/J.jpg);
}

main {
  max-width: 100%; /* Set the maximum width to 100% of the viewport */
  overflow-x: hidden; /* Hide horizontal overflow */
}


#logo_img{
  position: fixed;
  height: 7%;
  width: 7%;
  top: 20px;
  left: 20px;
  object-fit: cover;
  opacity: .75;
  border: 2px solid rgb(75, 75, 75);;
}

#name {
  padding: 0;
  margin: 0;
}

#title {
  padding: 0;
  padding-bottom: .1rem;
  margin: 0;
}


.navs {
  text-decoration: none;
  font-family: 'Roboto Slab', serif;
  color: rgb(75, 75, 75);
  font-size: larger;
  font-weight: bolder;
  padding: 1%;
}

#top_right{
  position: absolute;
  top: 0;
  right: 0;
}

#bottom_left{
  position: absolute;
  bottom: 0;
  left: 0;
}

#bottom_right{
  position: absolute;
  bottom: 0;
  right: 0;
}


a:hover {
  color: rgb(0,0,0);
}

#welcome_links {
  opacity: 1;
  top: 35%;
}

#welcome_links img:hover{
  transform: scale(1.15);
  opacity: 1;
}


header {
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Slab', serif;
  font-size: 1.5em;
  color: rgb(75, 75, 75);
  font-weight: bold;
  border-bottom:  1px solid #09041b;
}

.block_wrapper {
  min-height: 100vh;
  display: flex;
  border-bottom:  1px solid #09041b;
  flex-direction: column;
  align-items: center;
}

#intro_img {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  object-fit: cover;
  opacity: .25;
}

#white_img {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  object-fit: cover;
  opacity: .25;
  object-fit: cover;
}

#start_img {
  height: 100%;
  width: 100%; 
  position: absolute;
  z-index: -1;
  opacity: .5;
  
}

#about_img {
  height: 100%;
  width: 100%; 
  position: absolute;
  z-index: -1;
  opacity: .25;
  object-fit: cover;
}



#welcome_container{
  margin: .5rem;
}

#about_me_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.photos{
  flex-direction: row;
}

.photos img{
  border: 2px solid grey;
  border-radius: 50%;
}

#who_am_I {
  margin-top: -25vh;
  padding-bottom: 0;
  text-align: left;
  font-size: 300%;
  color: rgb(75, 75, 75);
  font-family: 'Courier New', Courier, monospace;
  
}

#about_me_paragraph {
  text-align: center;
  font-size: 20px;
  margin: 2.5% 10% 0;
  color: rgb(75, 75, 75);
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
}

.links{
  text-decoration: none;
  color: rgb(0, 89, 255);
}

#my_photo {
  width: 200px; /* Adjust the width to your preference */
  height: 200px; /* Adjust the height to your preference */
  border-radius: 50%; /* This will make the image a perfect circle */
  margin-bottom: 20px; /* Add some spacing between the image and the paragraph */
  object-fit: cover; /* Make sure the entire image is visible in the circle */
  object-position: center; /* Center the image within the circle */
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}


#what_I_do_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#what_I_do {
  margin-top: 400px;
  padding: 5%;
  text-align: center;
  font-size: 250%;
  color: rgb(75, 75, 75);
  font-family: 'Courier New', Courier, monospace;
}

.triangle {
  display: flex;
  justify-content: center; /* Center the triangle */
  width: inherit; /* Adjust the width of the triangle */
  height: inherit; /* Adjust the height of the triangle */
  position: relative;
}

.triangle img {
  transition: .3s ease;
}

.triangle img:hover{
  transform: scale(1.15);
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
}

.triangle__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center the images in each column */
  position: relative;
}

.triangle img {
  width: 47vh; /* Adjust the width of the images as needed */
  height: 47vh; /* Adjust the height of the images as needed */
  border-radius: 50%;
  border: 3px solid rgb(0, 89, 255);
  z-index: 10;
}

.triangle__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px; /* Adjust the width of the content area */
  height: 100px; /* Adjust the height of the content area */
  position: absolute;
  top: 50%;
  left: 50%; /* Center the content area horizontally */
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Move this image upward */
.triangle__column img:first-child {
  margin-top: -140%; /* Adjust the margin to move it up */
}

/* Move these images to the bottom corners */
.triangle__bottom_left {
  position: absolute;
  bottom: -40vh;
  left: 35vw;
}

.triangle__bottom_right {
  position: absolute;
  bottom: -40vh;
  right: 35vw;
}

/*
#what_I_do_paragraph{
  text-align: center;
  font-size: 18px;
  margin: 20px 0;
  padding-left: 20%;
  padding-right: 20%;
  color: black;
}
*/

#experience {
  padding-top: 7%;
  text-align: center;
  font-size: 300%;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(75, 75, 75);
}

#experience_paragraph{
  text-align: center;
  font-size: 18px;
  margin: 15px 0;
  padding-left: 20%;
  padding-right: 20%;
  color: black;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
}

.association_photos{
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.association_photos img {
  transition: .3s ease;
  border: 3px solid rgb(0, 89, 255);
  margin-right: 40px;
  border-radius: 50%;

}

.association_photos img:hover{
  transform: scale(1.15);
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
}

#slug_sat{
  width: 450px; /* Adjust the width to your preference */
  height: 225px; /* Adjust the height to your preference */

}
#aet_logo {
  width: 250px;
  height: 225px;
  margin-left: 30px;
}


#media_wrapper{
  margin: 0;
  padding: 0;
  border-left: none;
  border-right: none;
  color: rgb(54, 54, 54);
  background-image: url(./icons/wall.jpg);
}

#project_media{
  margin: 0;
  padding: 5%;
  text-align: center;
  font-size: 300%;
  font-family: 'Courier New', Courier, monospace;
  color: black;

}

section {
  margin-bottom: 40px;
}

.gallery {
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.photo {
  display: flex;
  width: auto;
  height: auto;
  margin-bottom: 20px;
  padding: 5vw;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  
}

video {
  height: auto;
  width: auto;
}


.photo img {
  width: 100%;
  height: auto;
  border: 2px solid rgb(75, 75, 75);

}

.photo .caption {
  text-align: center;
  margin: 15px 0;
  color: #09041b; /* Set font color to a dark color */
  font-weight: bold; /* Use normal font weight for a softer appearance */
  border-radius: 5px; /* Add rounded corners */
}

video{
  border: 2px solid rgb(75, 75, 75);
}

.project_names{
  font-size: 35px;
  margin-left: 20px;
}

.project_date{
  font-size: 20px;
}

  
  header {
    text-align: center;
  }
  
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  


  /* Add styles for smaller screens */
  @media screen and (max-width: 975px) {
    .photos{
      display: flex;
      flex-direction: column; 
      align-items: center;
    }
    
    #white_keyboard_img {
      height: inherit;
      width: inherit;
      position: absolute;
      z-index: -1;
      opacity: .25;
    }
  }

  @media screen and (max-width: 1500px) {
    
    header {
      flex-direction: column;
      align-items: center;
    }
    
    body {
      flex-direction: column;
      align-items: center;
    }

    .association_photos{
      flex-direction: column;
      align-items: center;
    }
    .association_photos img{
      margin-bottom: 30px;
    }
  }

  @media screen and (max-height: 500px) {
    #white_img {
      height: inherit;
      width: inherit;
      position: absolute;
      z-index: -1;
      opacity: .25;
    }
    body {
      flex-direction: column;
      align-items: center;
    }
    .triangle {
      flex-direction: column;
      align-items: center;
      height: inherit;
      width: inherit;
    }
    .triangle img {
      width: 350px; /* Adjust the width of the images as needed */
      height: 350px; /* Adjust the height of the images as needed */
      display: flex;
      align-items: center;
      margin: 85px;
    }
    /* Move this image upward */
    .triangle__column img:first-child {
      position: relative;
      margin-top: 0px;
    }
        
        /* Move these images to the bottom corners */
    .triangle__bottom_left {
      position: relative;
      bottom: 0px;
      left: 0px;
    }
        
    .triangle__bottom_right {
      position: relative;
      bottom: 0px;
      right: 0px;
    }

    #what_I_do_wrapper{
      flex-direction: column;
    }

  }

  @media screen and (max-width: 800px) {
    #white_img {
      height: inherit;
      width: inherit;
      position: absolute;
      z-index: -1;
      opacity: .25;
    }

  .triangle {
    flex-direction: column;
    align-items: center;
    height: inherit;
    width: inherit;
  }
  .triangle img {
    width: 350px; /* Adjust the width of the images as needed */
    height: 350px; /* Adjust the height of the images as needed */
    display: flex;
    align-items: center;
    margin: 85px;
  }
  /* Move this image upward */
  .triangle__column img:first-child {
    position: relative;
    margin-top: 0px;
  }
      
      /* Move these images to the bottom corners */
  .triangle__bottom_left {
    position: relative;
    bottom: 0px;
    left: 0px;
  }
      
  .triangle__bottom_right {
    position: relative;
    bottom: 0px;
    right: 0px;
  }
}



